In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,inspect
from pprint import pprint

In [2]:
# create engine to sqlite data
engine = create_engine("sqlite:///abnb.sqlite")

In [3]:
# Reflect the existing databse in a new model
Base= automap_base()
Base.prepare(autoload_with=engine)

In [4]:
# View all of the classes that automap found
Base.classes.keys()

['bnb_dset']

In [5]:
# Refrence to each table
data_set= Base.classes.bnb_dset

In [6]:
# Create our session
session= Session(engine)

In [9]:
# Inspect to look at columns
inspector= inspect(engine)
column_1= inspector.get_columns('lattidue')

for c in column_1:
    print(c['name'],c['type'])

In [11]:
# Unpacking lat
session= Session(engine)
data= session.query(data_set.name).limit(5)
for d in data:
     pprint(d)

('Cozy Artist’s Abode, NE Mpls - Pets, Wifi, Roku TV',)
('Charming, 1 or 2BR + private bath, near downtown',)
('Parks, Lakes, Downtown, Light rail',)
('Rest and Rehearsal Space',)
('★ParkFront ★ Walk 2 Downtown ★ Bike Score 98★',)

In [14]:
# Creating the heatmap list of dictionaries
from flask import Flask, jsonify
session= Session(engine)
lat= data_set.latitude
long=data_set.longitude


sel=[lat,long]
query_l= session.query(*sel).limit(10).all()
session.close()

heat_map_list=[]

for la,lo in query_l:
    dict_1={}
    
    dict_1["longitude"]= lo
    dict_1["latitude"]=la

    heat_map_list.append(dict_1)

In [ ]:
# Testing The lat & Long data
heat_map_list

In [16]:
# Part II: Map
#  County, Price, Bedrooms, Review Scores_rating
session=Session(engine)
listing= data_set.host_total_listings_count
county= data_set.county
price= data_set.price
bedrooms= data_set.bedrooms
rs= data_set.review_scores_rating

sel= [listing,county,price,bedrooms,rs]
query_2= session.query(*sel).limit(10).all()

bar_g= []
for l,c,p,b,r in query_2:
    dict_2={}
    dict_2["listing"]= l
    dict_2["county"]=c
    dict_2["price"]=p
    dict_2["bedroom"]=b
    dict_2["review_score"]=r
    bar_g.append(dict_2)

In [17]:
bar_g

[{'listing': 2,
  'county': 'Hennepin',
  'price': 91.0,
  'bedroom': 1.0,
  'review_score': 4.8},
 {'listing': 2,
  'county': 'Hennepin',
  'price': 58.0,
  'bedroom': 2.0,
  'review_score': 4.88},
 {'listing': 2,
  'county': 'Hennepin',
  'price': 64.0,
  'bedroom': 2.0,
  'review_score': 4.78},
 {'listing': 2,
  'county': 'Hennepin',
  'price': 64.0,
  'bedroom': 2.0,
  'review_score': 4.96},
 {'listing': 23,
  'county': 'Hennepin',
  'price': 167.0,
  'bedroom': 5.0,
  'review_score': 4.93},
 {'listing': 1,
  'county': 'Hennepin',
  'price': 438.0,
  'bedroom': 5.0,
  'review_score': 5.0},
 {'listing': 2,
  'county': 'Hennepin',
  'price': 125.0,
  'bedroom': 1.0,
  'review_score': 4.93},
 {'listing': 4,
  'county': 'Ramsey',
  'price': 75.0,
  'bedroom': 1.0,
  'review_score': 4.9},
 {'listing': 1,
  'county': 'Hennepin',
  'price': 70.0,
  'bedroom': 1.0,
  'review_score': 4.78},
 {'listing': 4,
  'county': 'Ramsey',
  'price': 48.0,
  'bedroom': 1.0,
  'review_score': 4.87}]